.timnas {
  font-size: 35px;
  background: linear-gradient(to bottom, red,red, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Monospace;
  -webkit-text-stroke: 1.7px #161A30;
}
.timnas2 {
  margin-top: 15px;
  margin-left: 165px;
}
.timnas3 {
  margin-top: 15px;
  width: 300px;
}
body {
  background-image: url('/Garuda.jpg');
  background-size: 300px;
  background-position: -250px;
}
.WC {
  background: linear-gradient(to bottom, red, red, white, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Monospace;
  font-size: 13px;
  -webkit-text-stroke: 1.3px black;
}
video {
  margin-top: 30px;
  margin-bottom: 5px;
}
.argen {
  margin-top: 100px;
  font-family: Monospace;
  font-size: 25px;
  background: linear-gradient(to bottom, red, red, white, cyan, cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 0.8px black;
}
.afc {
  background: linear-gradient(to bottom, red, red, black, black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 70px;
  font-family: Georgia;
  margin-left: 160px;
  font-size: 30px;
  -webkit-text-stroke: 0.8px white;
}
.kualifikasi {
  margin-top: 70px;
  color: gold;
  -webkit-text-stroke: 0.8px white;
  font-family: Georgia;
  font-size: 30px
}